OPENAI_API_KEY=AIzaSyAjPbpTTNhgxXjYHOLRnnqDF5ZpS7DZMsU
OPENAI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai
OPENAI_MODEL=gemini-flash-lite-latest
WEATHER_API_KEY=30e60bee30d84936ab705613260510